# VITE_AUTH_PROVIDER=spring
VITE_AUTH_PROVIDER=firebase
VITE_API_BASE_URL=http://localhost:8080
VITE_UPLOAD_PRESIGN_URL=http://localhost:8080/api/auth/uploads/presign
VITE_R2_PUBLIC_BASE_URL=https://cdn.gestionparking.com
VITE_FIREBASE_API_KEY="AIzaSyDN6rCBCKNG7dgRw7T7LyfJ8zcJn4r4zsI"
VITE_FIREBASE_AUTH_DOMAIN="parking-506c1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="parking-506c1"
VITE_FIREBASE_APP_ID="1:736186645558:web:cbd787df8088f121b26c97"
